<div class="fondo">

    <div class="group">
        <input required="" type="text" class="input" [(ngModel)]="altura">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>altura</label>
    </div>

    <div class="group">
        <input required="" type="text" class="input" [(ngModel)]="peso">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>peso</label>
    </div>

    <div class="group">
        <input required="" type="text" class="input" [(ngModel)]="temperatura">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>temperatura</label>
    </div>

    <div class="group">
        <input required="" type="text" class="input" [(ngModel)]="presion">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>presion</label>
    </div>


    <div *ngIf="mostrar" class="dinamico">
        <div class="group">
            <input required="" type="text" class="input" [(ngModel)]="campo">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>ingrese el campo</label>
        </div>

        <div class="group">
            <input required="" type="text" class="input" [(ngModel)]="valor">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>ingrese el valor</label>
        </div>
    </div>

    <button *ngIf="mostrar" (click)="generarJson()" style="margin-top: 50px;"> agregar </button>
    <button (click)="mostrarCampoDinamico()">agregar un nuevo dato</button>
    <button (click)="guardar()"> guardar historia clinica </button>
 
</div>