.dinamico {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px;
}