<div>

    <div class="group">
        <input required="" type="text" class="input" [(ngModel)]="altura">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>altura</label>
    </div>

    <div class="group">
        <input required="" type="text" class="input" [(ngModel)]="peso">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>peso</label>
    </div>

    <div class="group">
        <input required="" type="text" class="input" [(ngModel)]="temperatura">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>temperatura</label>
    </div>

    <div class="group">
        <input required="" type="text" class="input" [(ngModel)]="presion">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label>presion</label>
    </div>


    

</div>