.card {
    background-color: #007acc;
    margin: 20px;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
}

.FotoPerfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

.datosPaciente {
    display: flex;
    text-align: left;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.foto {
    width: 30px;
    height: 30px;
}

.btn_descargar {
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #007acc;
    width: 300px;
    gap: 10px;
    cursor: pointer;
    margin: 10px;
    height: 35px;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100vh;
}

td{
    width: 150px;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}