<div *ngIf="estaCargando">

    <div *ngIf="perfil === 'especialista'">
        <div *ngIf="pacientes.length !== 0" class="cards">
            <div *ngFor="let paciente of pacientes" class="card">
                <img [src]="paciente.id_paciente.url_perfil" class="FotoPerfil" />

                <div class="datos_paciente">
                    <h3>{{ paciente.id_paciente.apellido }}, {{ paciente.id_paciente.nombre }}</h3>
                    <p><strong>Edad:</strong> {{ paciente.id_paciente.edad }} años</p>
                    <p><strong>Obra Social:</strong> {{ paciente.id_paciente.obra_social }}</p>
                    <p><strong>Fecha de atención:</strong> {{ paciente.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
                    <p><strong>ultimos turnos:</strong></p>
                    <div *ngFor="let t of turnosAnteriores" class="ultimosTurnos">
                        <p>● {{t.fecha | fechaLocal}}</p><br>
                    </div>
                    <p><strong>Historia Clinica:</strong><button class="historia"
                            (click)="irHistoriaClinica(paciente.id_paciente.id)">ver</button></p>
                </div>
            </div>
        </div>

        <div *ngIf="pacientes.length === 0">
            <h2 style="color: green;">
                No hay pacientes atendidos por {{ datosUsuario.apellido }} {{ datosUsuario.nombre }}
            </h2>
        </div>
    </div>

    <div class="botones">
        <div *ngIf="perfil === 'admin'">
            <table border="1px" id="data">
                <thead>
                    <tr>
                        <th>apellido</th>
                        <th>nombre</th>
                        <th>edad</th>
                        <th>obra social</th>
                        <th>foto perfil</th>
                        <th>historia clinica</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let paciente of pacientes">
                        <td>{{ paciente.apellido }}</td>
                        <td>{{ paciente.nombre }}</td>
                        <td>{{ paciente.edad }}</td>
                        <td>{{ paciente.obra_social }}</td>
                        <td>
                            <button class="btn_foto">
                                <img [src]="paciente.url_perfil" class="foto" (click)="descargarDatos(paciente.id)" />
                            </button>
                        </td>
                        <td><button (click)="irHistoriaClinica(paciente.id)" class="btn_foto">ver</button></td>
                    </tr>
                </tbody>
            </table>
            <button (click)="descargarExcel()">descargar datos</button>
            <button routerLink="/bienvenido">volver atras</button>

        </div>
    </div>
</div>

<div class="spinner" *ngIf="!estaCargando">
    <img src="Spinner.svg">

    <table *ngIf="turnosPorPaciente.length!== 0" #tablaTurnos id="turnosPaciente">
        <thead>
            <tr>
                <th>paciente</th>
                <th>Fecha</th>
                <th>Especialista</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of turnosPorPaciente">
                <td>{{ t.id_paciente.apellido }} {{t.id_paciente.nombre}}</td>
                <td>{{ t.fecha | fechaLocal }}</td>
                <td>{{ t.id_especialista.nombre }} {{ t.id_especialista.apellido }}</td>
            </tr>
        </tbody>

    </table>
</div>