<div class="fondo">
    <div class="perfil" *ngIf="usuario">
        <img [src]="usuario.url_perfil" class="foto">
        <div class="info">
            <h2>{{ usuario.nombre }} {{ usuario.apellido }}</h2>
            <p><strong>DNI:</strong> {{ usuario.dni }}</p>
            <p><strong>Edad:</strong> {{ usuario.edad }} años</p>
            <p><strong>Perfil:</strong> {{ usuario.perfil }}</p>
            
            <div *ngIf="usuario.perfil==='paciente'">
                <p><strong>Obra social:</strong> {{ usuario.obra_social }}</p>
                <button (click)="descargarHistorial()">ver historia clinica</button>
            </div>
           
            <div *ngIf="usuario.perfil==='especialista'">
            <p ><strong>Especialidades:</strong> {{ usuario.especialidades }}</p>
            <button class="btn_horarios" routerLink="/definirHorarios">Mis horarios</button>
           </div>

        </div>
    </div>

    <button class="Btn_login" routerLink="/bienvenido">
        <div class="sign">
            <img src="iconos/atras.svg">
        </div>
        <div class="text">atras</div> 
    </button>
</div>