.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #007acc;
  padding: 20px;
  color: white;
  gap: 20px;
}

.foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

.info h2 {
  margin: 0;
  font-size: 24px;
}

.btn_horarios {
  background-color: #029aff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.fondo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
