<!-- si no esta logeado que ingrese o se registre -->
<button *ngIf="!estalogeado" class="Btn_login" routerLink="/login">

    <div class="sign">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd"
                d="M3 4.25A2.25 2.25 0 0 1 5.25 2h5.5A2.25 2.25 0 0 1 13 4.25v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 0-.75-.75h-5.5a.75.75 0 0 0-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 0 0 .75-.75v-2a.75.75 0 0 1 1.5 0v2A2.25 2.25 0 0 1 10.75 18h-5.5A2.25 2.25 0 0 1 3 15.75V4.25Z"
                clip-rule="evenodd" />
            <path fill-rule="evenodd"
                d="M19 10a.75.75 0 0 0-.75-.75H8.704l1.048-.943a.75.75 0 1 0-1.004-1.114l-2.5 2.25a.75.75 0 0 0 0 1.114l2.5 2.25a.75.75 0 1 0 1.004-1.114l-1.048-.943h9.546A.75.75 0 0 0 19 10Z"
                clip-rule="evenodd" />
        </svg>
    </div>
    <div class="text">ingresar</div>
</button>

<!-- registrarse -->
<button *ngIf="!estalogeado" class="Btn" routerLink="/registro">

    <div class="sign">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
        </svg>
    </div>
    <div class="text">Registrarse</div>
</button>

<!-- cerrar sesion -->
<button *ngIf="estalogeado" class="Btn" (click)="cerrarSesion()">
    <div class="sign">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd"
                d="M17 4.25A2.25 2.25 0 0 0 14.75 2h-5.5A2.25 2.25 0 0 0 7 4.25v2a.75.75 0 0 0 1.5 0v-2a.75.75 0 0 1 .75-.75h5.5a.75.75 0 0 1 .75.75v11.5a.75.75 0 0 1-.75.75h-5.5a.75.75 0 0 1-.75-.75v-2a.75.75 0 0 0-1.5 0v2A2.25 2.25 0 0 0 9.25 18h5.5A2.25 2.25 0 0 0 17 15.75V4.25Z"
                clip-rule="evenodd" />
            <path fill-rule="evenodd"
                d="M14 10a.75.75 0 0 0-.75-.75H3.704l1.048-.943a.75.75 0 1 0-1.004-1.114l-2.5 2.25a.75.75 0 0 0 0 1.114l2.5 2.25a.75.75 0 1 0 1.004-1.114l-1.048-.943h9.546A.75.75 0 0 0 14 10Z"
                clip-rule="evenodd" />
        </svg>
    </div>

    <div class="text">cerrar</div>
</button>

<!-- admin -->
<div *ngIf="estalogeado && usuario.perfil === 'admin'" class="admin">
    <button routerLink="/seleccionUsuario" class="btn_notificacion">
        <div class="sign">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path
                    d="M5.85 3.5a.75.75 0 0 0-1.117-1 9.719 9.719 0 0 0-2.348 4.876.75.75 0 0 0 1.479.248A8.219 8.219 0 0 1 5.85 3.5ZM19.267 2.5a.75.75 0 1 0-1.118 1 8.22 8.22 0 0 1 1.987 4.124.75.75 0 0 0 1.48-.248A9.72 9.72 0 0 0 19.266 2.5Z" />
                <path fill-rule="evenodd"
                    d="M12 2.25A6.75 6.75 0 0 0 5.25 9v.75a8.217 8.217 0 0 1-2.119 5.52.75.75 0 0 0 .298 1.206c1.544.57 3.16.99 4.831 1.243a3.75 3.75 0 1 0 7.48 0 24.583 24.583 0 0 0 4.83-1.244.75.75 0 0 0 .298-1.205 8.217 8.217 0 0 1-2.118-5.52V9A6.75 6.75 0 0 0 12 2.25ZM9.75 18c0-.034 0-.067.002-.1a25.05 25.05 0 0 0 4.496 0l.002.1a2.25 2.25 0 1 1-4.5 0Z"
                    clip-rule="evenodd" />
            </svg>
        </div>
        <span *ngIf="cantidadNoitificaciones !== 0" class="badge">{{ cantidadNoitificaciones }}</span>
    </button>

    <form [formGroup]="formulario">

        <div class="group">
            <input required type="text" class="input" formControlName="nombre">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>nombre</label>
            <div *ngIf="formulario.controls['nombre'].touched && formulario.controls['nombre'].hasError('required')"
                class="error">
                <P class="mensaje-error">Nombre es obligatorio</P>

            </div>
        </div>

        <div class="group">
            <input required type="text" class="input" formControlName="apellido">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>apellido</label>
            <div *ngIf="formulario.controls['apellido'].touched && formulario.controls['apellido'].hasError('required')"
                class="error">
                <P class="mensaje-error">Apellido es obligatoria</P>
            </div>
        </div>

        <div class="group">
            <input required type="text" class="input" formControlName="edad">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>edad</label>
            <div *ngIf="formulario.controls['edad'].touched && formulario.controls['edad'].hasError('required')"
                class="error">
                <P class="mensaje-error">Edad es obligatoria</P>
            </div>
            <div *ngIf="formulario.controls['edad'].touched && (formulario.controls['edad'].hasError('min') || formulario.controls['edad'].hasError('max'))"
                class="error">
                <P class="mensaje-error">Edad debe estar entre 1 y 100</P>
            </div>
        </div>

        <div class="group">
            <input required type="text" class="input" formControlName="dni">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>DNI</label>
            <div *ngIf="formulario.controls['dni'].touched && formulario.controls['dni'].hasError('required')"
                class="error">
                <P class="mensaje-error">DNI es obligatoria</P>
            </div>
            <div *ngIf="formulario.controls['dni'].touched && formulario.controls['dni'].hasError('minlength') || 
            formulario.controls['dni'].hasError('maxLength')" class="error">
                <P class="mensaje-error">DNI no valido</P>
            </div>
            <div *ngIf="formulario.controls['dni'].touched && formulario.controls['dni'].hasError('pattern')"
                class="error">
                <P class="mensaje-error">debe ser numerico</P>
            </div>
        </div>

        <div class="group">
            <input required type="text" class="input" formControlName="email">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>correo</label>
            <div *ngIf="formulario.controls['email'].touched && formulario.controls['email'].hasError('required')"
                class="error">
                <P class="mensaje-error">correo es obligatoria</P>
            </div>
            <div *ngIf="formulario.controls['email'].touched && formulario.controls['email'].hasError('email')"
                class="error">
                <P class="mensaje-error">Correo no válido</P>
            </div>
        </div>

        <div class="group">
            <input required type="password" class="input" formControlName="clave">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>clave</label>
            <div *ngIf="formulario.controls['clave'].touched && formulario.controls['clave'].hasError('required')"
                class="error">
                <P class="mensaje-error">Clave es obligatoria</P>
            </div>
            <div *ngIf="formulario.controls['clave'].touched && formulario.controls['clave'].hasError('minlength')"
                class="error">
                <P class="mensaje-error">Clave debe tener al menos 6 caracteres</P>

            </div>
        </div>

        <input formControlName="imagenes" class="imagen" type="file" (change)="guardarArchivo($event)" accept="image/*">
        <div *ngIf="formulario.controls['imagenes'].touched && formulario.controls['imagenes'].hasError('required')"
            class="error">
            <p class="mensaje-error">las imagenes son obligatoria</p>
        </div>

        <button (click)="crearCuenta()">
            registrar nuevo admin
        </button>
    </form>

</div>


<div *ngIf="mensajeError" class="mensaje-error">
    <strong> {{ mensajeError }}</strong>
</div>