<div *ngIf="mostrarTurnos">
  <section class="tablaTurnos">
    <h2>Mis turnos</h2>

    <div class="filtro">
      <input type="text" id="filtro" [(ngModel)]="input" placeholder="Buscar por Especialidad o Especialista">
      <button (click)="filtar()" class="btn_filtro">
        <img src="iconos/buscar.svg" class="img_filtro">
      </button>
    </div>
    <div *ngIf="!!error" class="mensaje-error">
      <strong>{{error}}</strong>
    </div>


    <table class="tabla">
      <thead>
        <tr>
          <th>Fecha y Hora</th>
          <th>Especialidad</th>
          <th>Especialista</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let turno of turnos">
          <td>{{ turno.fecha | date:"dd/MM/yyyy hh:mm" }}</td>
          <td>{{ turno.id_especialista.especialidades }}</td>
          <td>Dr. {{ turno.id_especialista.apellido }}</td>

          <td>{{ turno.estado }}</td>
          <td>
            <button *ngIf="turno.estado === 'aceptado'">Cancelar Turno</button>
            <button *ngIf="!!turno.resenia">Ver Reseña</button>
            <button *ngIf="turno.estado === 'realizado'">Completar Encuesta</button>
            <button *ngIf="turno.estado === 'realizado'">Calificar Atencion</button>
          </td>
        </tr>
      </tbody>
    </table>

    <button (click)="verFormulario()">Solicitar turno</button>
  </section>
</div>

<div *ngIf="!mostrarTurnos">

  <div class="especialidades" *ngIf="!especialidad">
    <div *ngFor="let especialidad of especialidades">
      <button class="btn_especialidades" (click)="definirEspecialidad(especialidad)">
        <img [src]="`especialidades/${especialidad}.png`" (error)="cambiarFoto($event)" class="foto_especialidad">
      </button>
    </div>
  </div>


  <div *ngIf="especialistas.length > 0" class="especialistas-container">
    <div *ngFor="let especialista of especialistas">
      <button class="btn_especialistas" (click)="definirDoctor(especialista.id)">
        <div>{{ especialista.apellido }} {{ especialista.nombre }}</div>
        <img [src]="`${especialista.url_perfil}`" alt="Foto del especialista">
      </button>
    </div>
  </div>

  <div *ngIf="horarios.length > 0" class="horarios">
    <!-- defirnir horarios -->
    <div *ngFor="let horario of horarios">
      <button (click)="definirHorario(horario.horario)" class="btn_horario">
        <div>{{horario.horario | date:"dd/mm hh:mm"}}</div>
      </button>
    </div>
  </div>

  <button (click)="verFormulario()">volver atras</button>
</div>