<div class="grid">

  <div class="group">
    <input required="" type="text" class="input" [(ngModel)]="email">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label> correo</label>
  </div>

  <div class="group">
    <input required="" type="password" class="input" [(ngModel)]="clave">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>clave</label>
  </div>

  <div *ngIf="mensajeError" class="mensaje-error">
    <strong> {{ mensajeError }}</strong>
  </div>

  <div class="form__field">
    <button (click)="login(email, clave)">ingresa</button>

    <a routerLink="/registro" class="btn">
      <span> si todavia no tenes cuenta click aqui</span>
    </a>
  </div>

  <div class="accesoRapido">
    <button (click)="rellenarCampos('pedro@gmail.com')" class="botonAcceso">
      <img src="fotosPerfil/admin.png" class="foto">
    </button>

    <button (click)="rellenarCampos('mica@gmail.com')" class="botonAcceso">
      <img src="fotosPerfil/mica.png" class="foto">
    </button>

    <button (click)="rellenarCampos('juli@gmail.com')" class="botonAcceso">
      <img src="fotosPerfil/juli.png" class="foto">
    </button>

    <button (click)="rellenarCampos('mari@gmail.com')" class="botonAcceso">
      <img src="fotosPerfil/maria.png" class="foto">
    </button>

    <button (click)="rellenarCampos('mateo@gmail.com')" class="botonAcceso">
      <img src="fotosPerfil/mateo.png" class="foto">
    </button>

    <button (click)="rellenarCampos('mariano@gmail.com')" class="botonAcceso">
      <img src="fotosPerfil/mariano.png" class="foto">
    </button>

  </div>
</div>