<div *ngIf="usuarios.length === 0" style="display: flex; justify-content: center; align-items: center;">
    <h2 color="green">no hay usuarios a aprobar</h2>
</div>

<div *ngFor="let usuario of usuarios">
    <div class="card">
        <h2>{{usuario.nombre}} {{usuario.apellido}}</h2>
        
        <div *ngIf="usuario.perfil === 'especialista'">
            <img [src]="usuario.url_perfil" class="fotoPerfil">
            <p> {{usuario.edad}} años, especialidades: {{usuario.especialidades || 'Cargando...' }}</p>
        </div>

        <div *ngIf="usuario.perfil === 'paciente'">
            <div class="fotosPaciente">

                <img [src]="rutas[0]" class="fotoPerfil">
                <img [src]="rutas[1]" class="fotoPerfil">
            </div>
            <p> {{usuario.edad}} años, obra social: {{usuario.obra_social}}</p>
        </div>


        <div class="botones">
            <img src="iconos/aceptar.png" class="aceptar" (click)="habilitar(usuario.mail)">
            <img src="iconos/cancelar.png" class="cancelar" (click)="cancelar(usuario.mail)">
        </div>
    </div>


</div>
<button class="Btn" routerLink="/bienvenido">
    <img src="iconos/atras.svg">
</button>