.aceptar,
.cancelar {
    width: 50px;
    height: 50px;
    background-color: #28a745;
    border-radius: 50%;
    cursor: pointer;
}

.cancelar{
    background-color: #a72828;
}

.botones{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.fotoPerfil{
    width: 70px;
    height: 70px;
    margin-bottom: 0px;
}

.card{
    background-color: rgb(200, 20, 200, 0.01);
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #007acc;
    width: 400px;
    height: 250px;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    background-color: #007acc;
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    right: 10px;
    text-align: center;
    z-index: 10
}