/* You can add global styles to this file, and also import other style files */
.grid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 40px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

body {
    background-color: #f0f4f8;
    margin: 0;
    font-family: sans-serif;
}


.form_input {
    padding: 14px;
    font-size: 1rem;
    border-radius: 8px;
    color: #fff;
    outline: none;
}

.form_input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.mensaje-error {
    color: #DC3545;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

a {
    margin-top: 20px;
    color: #38A3A5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 1rem;
}


.group {
    position: relative;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 200px;
    border: none;
    border-bottom: 1px solid #007acc;
    background: transparent;
    color: white;
}

.input:focus {
    outline: none;
}

label {
    color: #007acc;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.input:focus~label,
.input:valid~label {
    top: -20px;
    font-size: 14px;
}

.bar {
    position: relative;
    display: block;
    width: 200px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

button {
    width: 300px;
    padding: 10px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px
}

.input {
    color: black;
}


.Btn,
.Btn_login {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    overflow: visible;
    transition-duration: .3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    background-color: #007acc;
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    z-index: 10
}


.Btn_login {
    bottom: 100px
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center
}

.text {
    position: absolute;
    right: 0;
    width: 0;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s
}

.Btn:hover,
.Btn_login:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s
}

.Btn:hover .sign,
.Btn_login:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px
}

.Btn:hover .text,
.Btn_login:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px
}

.Btn:active,
.Btn_login:active {
    transform: translate(2px, 2px)
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}