<div *ngIf="perfilElegido === null" class="elegirRegistro">
    <button (click)="definirRegistro('especialista')" class="especialista">
        <img src="iconos/especialista.svg">
    </button>
    <button (click)="definirRegistro('paciente')" class="paciente">
        <img src="iconos/paciente.svg">
    </button>
</div>


<div *ngIf="perfilElegido !== null" class="grid">

    <form [formGroup]="formulario">

        <div class="group">
            <input required type="text" class="input" formControlName="nombre">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>nombre</label>
            <div *ngIf="formulario.controls['nombre'].touched && formulario.controls['nombre'].hasError('required')"
                class="error">
                <P class="mensaje-error">Nombre es obligatorio</P>

            </div>
        </div>

        <div class="group">
            <input required type="text" class="input" formControlName="apellido">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>apellido</label>
            <div *ngIf="formulario.controls['apellido'].touched && formulario.controls['apellido'].hasError('required')"
                class="error">
                <P class="mensaje-error">Apellido es obligatoria</P>
            </div>
        </div>

        <div class="group">
            <input required type="text" class="input" formControlName="edad">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>edad</label>
            <div *ngIf="formulario.controls['edad'].touched && formulario.controls['edad'].hasError('required')"
                class="error">
                <P class="mensaje-error">Edad es obligatoria</P>
            </div>
            <div *ngIf="formulario.controls['edad'].touched && (formulario.controls['edad'].hasError('min') || formulario.controls['edad'].hasError('max'))"
                class="error">
                <P class="mensaje-error">Edad debe estar entre 1 y 100</P>
            </div>
        </div>

        <div class="group">
            <input required type="text" class="input" formControlName="dni">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>DNI</label>
            <div *ngIf="formulario.controls['dni'].touched && formulario.controls['dni'].hasError('required')"
                class="error">
                <P class="mensaje-error">DNI es obligatoria</P>
            </div>
            <div *ngIf="formulario.controls['dni'].touched && formulario.controls['dni'].hasError('minlength') || 
            formulario.controls['dni'].hasError('maxLength')" class="error">
                <P class="mensaje-error">DNI no valido</P>
            </div>
            <div *ngIf="formulario.controls['dni'].touched && formulario.controls['dni'].hasError('pattern')"
                class="error">
                <P class="mensaje-error">debe ser numerico</P>
            </div>
        </div>

        <div class="group">
            <input required type="text" class="input" formControlName="email">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>correo</label>
            <div *ngIf="formulario.controls['email'].touched && formulario.controls['email'].hasError('required')"
                class="error">
                <P class="mensaje-error">correo es obligatoria</P>
            </div>
            <div *ngIf="formulario.controls['email'].touched && formulario.controls['email'].hasError('email')"
                class="error">
                <P class="mensaje-error">Correo no válido</P>
            </div>
        </div>

        <div class="group">
            <input required type="password" class="input" formControlName="clave">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>clave</label>
            <div *ngIf="formulario.controls['clave'].touched && formulario.controls['clave'].hasError('required')"
                class="error">
                <P class="mensaje-error">Clave es obligatoria</P>
            </div>
            <div *ngIf="formulario.controls['clave'].touched && formulario.controls['clave'].hasError('minlength')"
                class="error">
                <P class="mensaje-error">Clave debe tener al menos 6 caracteres</P>

            </div>
        </div>

        <!-- PACIENTES -->
        <div *ngIf="perfilElegido === 'paciente'">
            <div class="group">
                <select id="obraSocial" class="opciones" formControlName="obraSocial">
                    <option value="">obra social</option>
                    <option>ninguna</option>
                    <option>pami</option>
                    <option>osecac</option>
                    <option>swiss medical</option>
                    <option>osde</option>
                </select>
                <div *ngIf="formulario.controls['obraSocial'].touched && formulario.controls['obraSocial'].hasError('required')"
                    class="error">
                    <p class="mensaje-error">Obra social es obligatoria</p>
                </div>
            </div>

            <input formControlName="imagenes" class="imagen" type="file" (change)="asignarArchivo($event, 'imagen1')"
                accept="image/*">
            <input formControlName="imagenes" class="imagen" type="file" (change)="asignarArchivo($event, 'imagen2')"
                accept="image/*">
            <div *ngIf="formulario.controls['imagenes'].touched && formulario.controls['imagenes'].hasError('required')"
                class="error">
                <p class="mensaje-error">las imagenes son obligatoria</p>
            </div>

        </div>


        <!-- ESPECIALISTAS -->
        <div *ngIf="perfilElegido === 'especialista'">
            <div class="group">
                <input required type="text" class="input" formControlName="especialidad">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>especialidades</label>
                <div *ngIf="formulario.controls['especialidad'].touched && formulario.controls['especialidad'].hasError('required')"
                    class="error">
                    <P class="mensaje-error">las especialidades son obligatorias</P>
                </div>
                <small>Para agregar más de una especialidad, sepáralas con comas. Ejemplo: Traumatología, Cirujano,
                    Reumatólogo.</small>
            </div>
            <input class="imagen" type="file" (change)="asignarArchivo($event, 'imagenEspecialista')" accept="image/*">
        </div>
        <div *ngIf="mensajeError" class="mensaje-error">
            <strong>{{ mensajeError }}</strong>
        </div>

        <a *ngIf="mensajeError === 'la cuenta ya existe'" routeLink="/login" class="btn">si ya tenes cuenta click
            aqui</a>

        <button class="Registrarse-btn" (click)="crearCuenta()">Registrarse</button>
    </form>

</div>